.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ddc548;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 90%;
  box-shadow: 4px 9px 9px #a09797;
}

.input-fields textarea {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
  height: 100px;
  resize: none;
}

.input-container, .input-select {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-evenly;
  width: 100%;
}
/* 
.input-container {
  margin-top: 2%;
} */

input[type="number" i] {
  height: 25px;
  width: 50%;
}

input[type="date" i] {
  height: 25px;
  width: 50%;
}

.form-input button {
  border: 0;
  padding: 10px;
  width: 40%;
  height: 45px;
  border-radius: 10px;
  background: #20a120;
  margin-top: 5%;
}

.form-input button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.all-reservations .navbar {
  position: absolute;
  width: 100%;
  background: #ddc548;
}

.reservation {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 9px 9px #a09797be;
  background: #ddc548;
}

.reservation p {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .input-fields {
    padding: 7%;
  }

  .input-fields textarea {
    height: 40%;
  }

  .input-container .duration,
  input {
    padding: 1.2rem;
  }

  .input-select {
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 7%;
    width: 100%;
  }

  .input-select label {
    display: flex;
    align-items: center;
    width: 85%;
    gap: 13%;
    /* justify-content: space-around; */
    
  }

  #hotels {
    height: 40px;
    width: 46%;
  }

  .reservation {
    height: 90vh;
    box-shadow: 4px 9px 9px #a09797be;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15%;
  }

  .reservation p {
    font-size: 20px;
  }

  .swiper {
    width: 50%;
    height: 99vh;
  }

  #swipper {
    /* margin-left: auto; */
    margin-left: 40%;
    margin-right: 0;
  }

  .all-reservations {
    display: flex;
    background: #ddc548;
  }

  .all-reservations .navbar {
    position: absolute;
    width: 35%;
    background: #ddc548;
  }

.form-input button:hover {
  cursor: pointer;
  background-color: rgb(79, 126, 7)
}
}
