@import url("https://use.typekit.net/knr4htp.css");
@import url('http://fonts.cdnfonts.com/css/bukhari-script');

:root {
  --yellow: rgb(237, 179, 32);
  --green: #99cd32d3;
  --white: #f9f9f9;
  --dark: #191919;
  --font: acumin-pro, sans-serif;
  --logo: 'Bukhari Script', sans-serif;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  font-family: var(--font);
  max-width: 100vw;
  overflow-x: hidden;
}

p,
strong,
small {
  /* font-family: var(--font); */
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font); */
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}
